@import "../../../public/style/var.scss";
.container{
    width: 100%;
    color: $white;
    // background: $background-gradient;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

}
header{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    
    
}
.logo-container {
    width: 100px;
    font-family: $poppins;
    font-size: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
     width: 70%;
     
}

ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    list-style: none;
    font-size: 20px;
}


.btn{
    @include btnStyle();
}

.btn:hover{
    @include btnHover ();
}

.menu, .profile-icon{
    display: none;
}

@media (max-width:1040px) {

    nav{
        width: 80%;
    }


    
}

@media (max-width:904px) {

    ul{
        flex-direction: column;
        width: 150px !important;
        position: absolute;
        left:0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.289);

         flex-direction: column;
         display: none;
      

         
    }

    .menu, .profile-icon{
        display: block;
        font-size: 30px;
        

    }

    .btns{
      display: none;
      margin-left: 10px;
      

    }

    
    
}